@import (reference) '../foundation/index.less';

@media (max-width: 480px) {
  .footer-title {
    font-size: @font-size-h6;
  }

  .footer-description {
    font-size: @font-size-xs;
  }

  .company-name {
    font-size: @font-size-base;
  }

  .company-address {
    font-size: @font-size-xs;
  }

  .contact-text {
    font-size: @font-size-xs;
  }
}
